<div>
  <p>Trabajando con Websockets</p>
</div>

<form id="form">
  <label>Product</label>
  <input type="text" id="title" placeholder="title" />
  <br />
  <label>Price</label>
  <input type="text" id="price" placeholder="Price" />
  <input type="submit" id="enviar"  value="Enviar" />
  <br />
  <input type="reset" id="reset" value="Eliminar" />

</form>

<p id="products">{{title}}</p>
<p>{{price}} </p>

<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>