<div class="contenedor-formularios">
 <h1>LOGIN</h1>
<form class="form" action="/session/login" method="post">
<div>
  <div class="contenedor-input">
  <label> Email:</label>
  <input type="email" name="email" id="email" />
  </div>
<div class="contenedor-input">
 <label>Password:</label> 
  <input type="password" name="password" id="password" />
</div>
 <div class="login">
 <input 
  class="button"
  type="submit" value="LOGIN" />
 </div>
 
</form>
</div>
<h2 class="new-user">¿Usuario nuevo?</h2>
<div class="register
" >
<button 
class="button btn-secundary
"   onclick="location.href='/session/register'">Registrate</button> 
</div>

</div>
